.sub-banner3 {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  max-height: 1040px;
  aspect-ratio: 1920 / 1040;
  position: relative;
  margin-bottom: 50px;
  .banner-text {
    display: flex;
    height: 100%;
    align-items: center;
    > div {
      color: #fff;
      text-align: center;
      padding: 0 20px;
      box-sizing: border-box;
      margin: 0 auto;
      .banner-text-title {
        font-size: 65px;
        font-weight: bold;
      }
      .banner-text-01 {
        margin-top: 20px;
        font-size: 30px;
      }
    }
  }
}

.blog-list {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px 130px;
  > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 70px 2%;
    > li {
      width: 32%;
      .image-area {
        aspect-ratio: 621 / 707;
        background-color: #CECECE;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .info {
        padding: 25px 25px 0;
        .title {
          margin-bottom: 30px;
          font-weight: bold;
          font-size: 50px;
          line-height: 60px;
          color: #194B7E;
        }
        .detail {
          color: #194B7E;
        }
        .read {
          color: #250DC1;
          font-size: 20px;
          margin-top: 20px
        }
      }
    }
  }
  .pagination {
    margin-top: 120px;
    > ul {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 767px) {
  .blog-list {
    > ul {
      > li {
        width: 100%;
      }
    }
  }
}



.blog-detail {
  padding-bottom: 130px;
  > .content-detail {
    max-width: 1000px;
    margin: 0 auto;
    .content-detail-header {
      border-bottom: 1px solid #eee;
      margin-bottom: 55px;
      .category {
        font-size: 18px;
        margin-bottom: 10px
      }
      h3 {
        font-size: 36px;
        font-weight: 600;
        color: #333;
        line-height: 45px;
        margin-bottom: 15px;
      }
      .date {
        font-size: 18px;
        line-height: 24px;
        color: #999;
        margin-bottom: 25px;
        font-weight: 600;
      }
    }
    .detail {
      padding-bottom: 65px;
      line-height: 35px;
    }
    .title-list {
      margin-bottom: 25px;
      > div {
        padding: 35px 50px;
        box-sizing: border-box;
        span {
          padding-left: 20px;
          margin-right: 50px;
        }
        a {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #666;
        }
        &:first-child {
          display: flex;
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          span {
            background: url("/images/common/sub/blog_view_arrow_up.png") no-repeat 0 50%;
          }
        }
        &:last-child {
          display: flex;
          border-bottom: 1px solid #666;
          span {
            background: url("/images/common/sub/blog_view_arrow_down.png") no-repeat 0 50%;
          }
        }
      }
    }
    .btn-box {
      display: flex;
      justify-content: center;
      button {
        border: none;
        padding: 10px 25px;
        font-size: 17px;
        color: #fff;
        font-weight: 400;
        background-color: #444;
        border-radius: 5px;
      }
    }
  }
}
