.media-container {
  padding-top: 219px !important;
  h2 {
    position: relative;
    padding-top: 24px;
    text-align: center;
    font-weight: bold;
    border-radius: 16px;
    font-size: 44px;
    color: #110439;
    margin-bottom: 20px;
    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 45px;
      height: 4px;
      content: "";
      background-color: #115BE6;
    }
  }
}

.location {
  display: flex;
  margin-bottom: 50px;
  > li {
    padding-left: 30px;
    margin-left: 20px;
    position: relative;
    color: #999;
    font-size: 16px;
    &:after {
      content: ">";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:first-child {
      margin: 0;
      padding: 0;
      &:after {
        display: none;
      }
    }
  }
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 1%;
  padding-bottom: 130px;
  &.video-list {
    > li {
      width: 32.6%;
    }
  }
  > li {
    text-align: center;
    width: 24%;
    min-width: 200px;
    > a {
      display: block;
      width: 100%;
      max-width: 250px;
      margin: 0 auto;
      color: #194B7E;
      img {
        width: 100%;
        height: auto;
        border: 1px solid #ddd;
      }
      > p {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .catalog-list {
    > li {
      width: 32%;
    }
  }
}

@media screen and (max-width: 767px) {
  .catalog-list {
    > li {
      width: 100%;
      > a {
        max-width: none;
      }
    }
  }
}
