.location {
  display: flex;
  margin-bottom: 50px;
  > li {
    padding-left: 30px;
    margin-left: 20px;
    position: relative;
    color: #194B7E;
    font-size: 20px;
    &:after {
      content: ">";
      display: block;
      position: absolute;
      top: -1px;
      left: 0;
    }
    &:first-child {
      margin: 0;
      padding: 0;
      &:after {
        display: none;
      }
    }
  }
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 1%;
  padding-bottom: 130px;
  &.video-list {
    > li {
      width: 32.6%;
    }
  }
  > li {
    text-align: center;
    width: 24%;
    min-width: 200px;
    > a {
      display: block;
      width: 100%;
      max-width: 250px;
      margin: 0 auto;
      color: #194B7E;
      img {
        width: 100%;
        height: auto;
        border: 1px solid #ddd;
      }
      > p {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .catalog-list {
    > li {
      width: 32%;
    }
  }
}

@media screen and (max-width: 767px) {
  .catalog-list {
    > li {
      width: 100%;
      > a {
        max-width: none;
      }
    }
  }
}
