.location {
  display: flex;
  margin-bottom: 50px;
  > li {
    padding-left: 30px;
    margin-left: 20px;
    position: relative;
    color: #194B7E;
    font-size: 20px;
    &:after {
      content: ">";
      display: block;
      position: absolute;
      top: -1px;
      left: 0;
    }
    &:first-child {
      margin: 0;
      padding: 0;
      &:after {
        display: none;
      }
    }
  }
}

.certificates-btns {
  margin-bottom: 46.5px;
  button {
    font-size: 50px;
    border: none;
    background: none;
    color: #AAA;
    padding: 0 0 17px;
    cursor: pointer;
    &.active {
      position: relative;
      color: #194B7E;
      &:after {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #1414C8;

      }
    }
    &:first-child {
      margin-right: 100px;
    }
  }
}
.certificates {
  > section {
    > dl {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px 0;
      margin-bottom: 150px;
      > dt {
        text-align: center;
        > p {
          margin-top: 8px;
        }
      }
      > dd {
        width: 77%;
        > ul {
          > li {
            display: flex;
            justify-content: space-between;
            margin-top: 32px;
            align-items: center;
            font-weight: bold;
            color: #194B7E;
            font-size: 30px;
            &:first-child {
              margin-top: 0;
            }
            > a {
              display: inline-block;
              max-width: 229px;
              width: 100%;
              height: 56px;
              border: 1px solid #ABB2B9;
              color: #ABB2B9;
              line-height: 56px;
              text-indent: 27px;
              font-size: 26px;
              font-weight: normal;
              background: url("/images/sub/certificates/download.png") no-repeat calc(100% - 27.5px) 50%;
              border-radius: 8px;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .certificates {
    > section {
      > dl {
        > dd {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .location {
    display: none;
  }
  .certificates-btns{
    button {

      font-size: 26px;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  .certificates {
    > section {
      > dl {
        > dd {
          width: 100%;
          > ul {
            > li {
              display: block;
              gap: 15px 0;
              font-size: 25px;
              > a {
                display: block;
                font-size: 23px;
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
  }
}
