.sub-banner2 {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  position: relative;
  .banner-text {
    max-width: 1600px;
    margin: 0 auto;
    padding: 15% 0;
    h2 {
      font-weight: bold;
      font-size: 65px;
      color: #0F3553;
      margin-bottom: 85px;
    }
    > ul {
      > li {
        color: #194B7E;
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.concept {
  padding: 20px 0;
  img {
    width: 100%;
    height: auto;
  }
}
