.section-type-01 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 135px;
  &.bg-01 {
    h2 {
      background: url("/images/sub/solution/solution-icon-01.svg") no-repeat 0 0;
    }
  }
  .text-area {
    width: 60%;
    h2 {
      font-size: 44px;
      color: #110439;
      font-family: "Pretendard-Bold", sans-serif;
      margin-bottom: 28px;
      padding: 76px 0 28px;
      border-bottom: 1px solid #E0E0E0;
      line-height: normal;
    }
    p {
      color: #666;
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 180%;
      font-family: "Pretendard-Medium", sans-serif;
      &.last {
        //max-width: 607px;
        display: inline-flex;
        margin-top: 40px;
        background-color: #F5F5F5;
        border-radius: 8px;
        padding: 16px 24px;
        gap: 0 7px;
        flex-wrap: wrap;
        span {
          color: #333;
          font-family: "Pretendard-Bold", sans-serif;
        }
      }
    }
    > div {
      display: none;
    }
  }
}

.container4 {
  padding: 0 20px;
  background: url("/") no-repeat -165px 50%;
  > div {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.container3 {
  padding: 0 20px 135px;
  background: url("/") no-repeat -65px calc(100% + 232px);
  > div {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.section-type-02 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 135px;
  &.bg-02 {
    h2 {
      background: url("/images/sub/solution/solution-icon-02.svg") no-repeat 0 0;
    }
  }
  &.bg-03 {
    h2 {
      background: url("/images/sub/solution/solution-icon-03.svg") no-repeat 0 0;
    }
  }
  
  .text-area {
    width: 50%;
    h2 {
      font-size: 44px;
      color: #110439;
      font-family: "Pretendard-Bold", sans-serif;
      margin-bottom: 28px;
      padding: 76px 0 28px;
      border-bottom: 1px solid #E0E0E0;
      line-height: normal;
    }
    p {
      color: #666;
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 180%;
      font-family: "Pretendard-Medium", sans-serif;
      &.last {
        //max-width: 607px;
        display: inline-flex;
        margin-top: 40px;
        background-color: #F5F5F5;
        border-radius: 8px;
        padding: 16px 24px;
        gap: 0 7px;
        flex-wrap: wrap;
        span {
          color: #333;
          font-family: "Pretendard-Bold", sans-serif;
        }
      }
    }
    > div {
      display: none;
    }
  }
}

.section-type-03 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
   &.bg-04 {
    h2 {
      background: url("/images/sub/solution/solution-icon-05.svg") no-repeat 0 0;
    }
  }
  .text-area {
    width: 50%;
    h2 {
      font-size: 44px;
      color: #110439;
      font-family: "Pretendard-Bold", sans-serif;
      margin-bottom: 28px;
      padding: 76px 0 28px;
      border-bottom: 1px solid #E0E0E0;
      line-height: normal;
    }
    p {
      color: #666;
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 180%;
      font-family: "Pretendard-Medium", sans-serif;
      &.last {
        //max-width: 607px;
        display: inline-flex;
        margin-top: 40px;
        background-color: #F5F5F5;
        border-radius: 8px;
        padding: 16px 24px;
        gap: 0 7px;
        flex-wrap: wrap;
        span {
          color: #333;
          font-family: "Pretendard-Bold", sans-serif;
        }
      }
    }
    > div {
      display: none;
    }
  }
}

.greeting-swiper {
  margin-bottom: 230px;
  img {
    width: 100%;
    height: auto;
  }
}

.company-location {
  h2 {
    position: relative;
    font-size: 44px;
    color: #110439;
    margin-bottom: 40px;
    text-align: center;
    font-family: "Pretendard-Bold", sans-serif;
    line-height: 100%;
    padding-top: 24px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 45px;
      height: 4px;
      background-color: #115BE6;
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section-type-01 {
    .image-area {
      img {
        width: 300px;
        height: auto;
      }
    }
  }
  .section-type-02 {
    .text-area {
      width: 100%;
      > div {
        display: block;
        margin-bottom: 30px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .image-area {
      display: none;
    }
  }
  .section-type-03 {
    .text-area {
      width: 100%;
      > div {
        display: block;
        margin-bottom: 30px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .image-area {
      display: none;
    }
  }
}
@media screen and (max-width: 767px) {
  .section-type-01 {
    .text-area {
      width: 100%;
      > div {
        display: block;
        margin-bottom: 30px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .image-area {
      display: none;
    }
  }

  .section-type-02 {
    .text-area {
      width: 100%;
      > div {
        display: block;
        margin-bottom: 30px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .image-area {
      display: none;
    }
  }

  .section-type-03 {
    .text-area {
      width: 100%;
      > div {
        display: block;
        margin-bottom: 30px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .image-area {
      display: none;
    }
  }
}

.title-area2 {
  margin-bottom: 100px;
  background: #F5F5F5;
  padding: 150px 20px;
  h2 {
    position: relative;
    color: #110439;
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-family: "Pretendard-Bold", sans-serif;
    line-height: 100%;
    padding-top: 24px;
    margin-bottom: 64px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #115BE6;
      width: 45px;
      height: 4px;
    }
  }
  p {
    text-align: center;
    color: #666;
    font-size: 16px;
    line-height: 180%;
    font-family: "Pretendard-Medium", sans-serif;
    &.title-text1 {
      margin-bottom: 16px;
      color: #333;
      font-size: 32px;
      line-height: 100%;
      font-family: "Pretendard-Bold", sans-serif;
    }
  }
}
