.partner {
  .partner-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 10px;
      border: none;
      background-color: #DFE0E1;
      color: #C0C2C4;
      font-size: 18px;
      font-family: "pretendard-Medium", sans-serif;
      min-width: 195px;
      cursor: pointer;
      &.active {
        background-color: #194B7E;
        color: #fff;
      }
    }
  }
  > ul {
    display: flex;
    justify-content: space-between;
    gap: 50px 0;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 110px;
    li {
      flex-basis: 25%;
      text-align: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
.partner-map {
  img {
    vertical-align: top;
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .partner {
    > ul {
      li {
        flex-basis: 33%;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .partner {
    > ul {
      li {
        flex-basis: 100%;
      }
    }
  }
}

.with-partners {
  h2 {
    font-size: 65px;
    color: #DE0010;
    margin-bottom: 35px;
    text-align: center;
    font-weight: bold;
  }
}

.greeting-swiper {
  margin-bottom: 230px;
  img {
    width: 100%;
    height: auto;
  }
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab-title {
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.tab-title.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

.tab-content {
  margin-top: 20px;
}

.tab-panel {
  display: block;
}
