/* Font */
@font-face {
  font-family: 'Pretendard-Medium';
  src: url("../app/fonts/Pretendard-Medium.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url("../app/fonts/Pretendard-Bold.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url("../app/fonts/Pretendard-SemiBold.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url("../app/fonts/Pretendard-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url("../app/fonts/Pretendard-ExtraBold.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url("../app/fonts/Pretendard-Medium.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url("../app/fonts/Pretendard-Bold.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url("../app/fonts/Pretendard-SemiBold.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url("../app/fonts/Pretendard-ExtraBold.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url("../app/fonts/Montserrat-Black.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../app/fonts/Montserrat-Bold.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url("../app/fonts/Montserrat-ExtraBold.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../app/fonts/Montserrat-ExtraLight.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url("../app/fonts/Montserrat-Light.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../app/fonts/Montserrat-Medium.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../app/fonts/Montserrat-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../app/fonts/Montserrat-SemiBold.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Thin';
  src: url("../app/fonts/Montserrat-Thin.woff");
  font-weight: 400;
  font-style: normal;
}



/* Header */
header {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  border-bottom: 1px solid #E2E2E2;
  z-index: 10;
  box-sizing: border-box;
  transition: all ease-in-out 0.2s;
  &.scrolled {
    background-color: #fff;
    border-bottom: 1px solid #CFCFCF;
    .header-inner {
      .main-menu {
        .depth1 {
          > li {
            > a {
              color: #333;
            }
          }
        }
      }
      > div {
        .language-button {
          color: #333;
          &.en {
            &:before {
              background: url("/images/common/earth-black.svg") no-repeat 0 0
            }
          }
          &:after {
            background: url("/images/common/down-arrow-black.png") no-repeat 0 0
          }
        }
        .mobile-menu {
          .menu-button {
            .bar {
              background-color: #333;
            }
          }
        }
      }
    }
  }
  .header-top-bar {
    align-items: center;
    background: #115BE6;
    color: white;
    font-size: 14px;
    .header-items {
      max-width: 1520px;
      margin: 0 auto;
      list-style: none; /* 기본 불릿 제거 */
      padding: 8px 20px;
      display: flex;
      li {
        margin-right: 15px; /* 요소 간 간격 */
        display: flex;
        align-items: center; /* 아이콘과 텍스트 정렬 */
      }
    }
  }

  .header-inner {
    max-width: 1520px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    &.en {
      .main-menu {
        max-width: 737px;
        .depth1 {
          > li {
            > a {
              padding: 0 20px;
            }
          }
        }
      }
    }
    .main-menu {
      z-index: 10;
      position: relative;
      max-width: 656px;
      width: 100%;
      .depth1 {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 78px;
        align-items: center;
        > li {
          position: relative;
          display: flex;
          height: 100%;
          align-items: center;
          > a {
            color: #fff;
            //font-weight: bold;
            font-size: 17px;
            display: flex;
            height: 100%;
            align-items: center;
            padding: 0 30px;
            position: relative;
          }
          &.on {
            > a {
              color: #115BE6;
              &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: #115BE6;
              }
            }
            > ul {
              opacity: 1;
              visibility: visible;
              transition: all 0.2s ease-in-out;
            }
          }
          > ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 79px;
            left: 50%;
            transform: translateX(-50%);
            padding: 30px 20px;
            z-index: 2;
            > li {
              margin-top: 18px;
              text-align: center;
              &:first-child {
                margin-top: 0;
              }
              > a {
                white-space: nowrap;
                font-size: 15px;
                color: #fff;
                opacity: 0.9;
              }
            }
          }
        }
      }
      &.on {
        .nav-bg {
          opacity: 1;
          visibility: visible;
          transition: all 0.2s ease-in-out;
        }
        &.on-1 {
          .nav-bg {
            height: 290px;
          }
        }
        &.on-2 {
          .nav-bg {
            height: 355px;
          }
        }
        &.on-4 {
          .nav-bg {
            height: 210px;
          }
        }
      }
      .nav-bg {
        position: fixed;
        top: 119px;
        left: 0;
        width: 100%;
        //height: 355px;
        background: rgba(0, 10, 48, 0.8);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
      }

      .depth2 {
        position: absolute;
        top: 76px;
        left: 0;
        width: 100%;
        visibility: hidden;
        &.on {
          visibility: visible;
          &:after {
            visibility: visible;
            opacity: 1;
            transition: all .5s;
          }
          > ul {
            visibility: visible;
            opacity: 1;
            transition: all .5s;
            > li {
              opacity: 0;
              &.on {
                opacity: 1;
              }
            }
          }
        }
        &:after {
          content: "";
          display: block;
          position: fixed;
          width: 100%;
          top: 112px;
          left: 0;
          height: 382px;
          background-color: #ffffffe8;
          visibility: hidden;
          opacity: 0;
          z-index: 11;
        }
        > ul {
          visibility: hidden;
          opacity: 0;
          position: relative;
          z-index: 12;
          display: flex;
          //justify-content: space-between;
          > li {
            &:nth-child(1) {
              min-width: 138px;
            }
            &:nth-child(2) {
              max-width: 135px;
            }
            &:nth-child(3) {
              max-width: 174px;
              margin-left: 45px;
            }
            &:nth-child(4) {
              width: 195px;
            }
            > ul {
              > li {
                margin-top: 20px;
                &:first-child {
                  margin-top: 0;
                }
                > a {
                  font-size: 20px;
                  color: #0F3553;
                  &:hover {
                    color: #A51546;
                    transition: all 0.2s;
                  }
                }
              }
            }
          }
        }
      }
    }

    > div {
      display: flex;
      gap: 0 20px;
      position: relative;
      .language-button {
        color: #fff;
        font-weight: bold;
        border: none;
        padding: 0 14px 0 24px;
        background: none;
        font-size: 16px;
        cursor: pointer;
        font-family: "Pretendard-Regular", sans-serif;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 10px;
          height: 5px;
          background: url("/images/common/down-arrow.svg") no-repeat 0 0;
        }
        &.en {
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background: url("/images/common/earth-white.svg") no-repeat 0 0;
          }
        }
      }
      .language-list {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 71px;
        border-radius: 8px;
        overflow: hidden;
        &.show {
          opacity: 1;
          visibility: visible;
          transition: all ease-in-out 0.3s;
        }

        &.en {
          > li {
            &:first-child {
              > button {
                background: url("/images/common/earth-white.svg") no-repeat 8px 50% #115BE6;
                color: #fff;
              }
            }
            > button {
              background: #fff;
            }
          }
        }
        > li {
          > button {
            border: none;
            width: 100%;
            padding: 0 14px 0 32px;
            vertical-align: top;
            height: 32px;
            background: url("/images/common/earth-black.svg") no-repeat 8px 50% #fff;
            cursor: pointer;
          }
          &:first-child {
            > button {
              background: #115BE6;
              color: #fff;
            }
          }
        }
      }
      .mobile-menu {
        display: none;
        .menu-button {
          background: none;
          border: none;
          padding: 0;
          cursor: pointer;
          .bar {
            width: 25px;
            height: 3px;
            background-color: #fff;
            margin-top:5px;
            border-radius: 3px;
            &:first-child {
              margin-top: 0;
            }
          }
        }
        > nav {
          opacity: 0;
          visibility: hidden;
          background-color: rgba(0, 0, 0, 0.4);
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 30;
          &.on {
            display: block;
            visibility: visible;
            opacity: 1;
            transition: opacity 0.5s, visibility 0s;
          }

          .nav-header {
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            width: 320px;
            align-items: center;
            padding: 10px 10px 10px;
            box-sizing: border-box;
            button {
              padding: 0;
              border: none;
              cursor: pointer;
              background: none;
              display:inline-block;*display:inline;
              &:after {
                display: inline-block;
                content: "\00d7";
                font-size: 50px;
              }
            }
          }

          > ul {
            width: 320px;
            height: 100%;
            background-color: #fff;
            border-top: 1px solid #ddd;
            > li {
              border-bottom: 1px solid #ddd;
              > a, > button {
                display: block;
                padding: 20px 20px;
                font-size: 20px;
                color: #555;
              }
              > button {
                position: relative;
                background: none;
                border: none;
                line-height: 100%;
                width: 100%;
                text-align: left;
                &:after {
                  position: absolute;
                  right: 23px;
                  top: 19px;
                  content: '';
                  width: 10px;
                  height: 10px;
                  border-top: 3px solid #000;
                  border-right: 3px solid #000;
                  transform: rotate(135deg);
                }
              }
              > ul {
                max-height: 0;
                padding-bottom: 0;
                overflow: hidden;
                > li {
                  > a {
                    display: block;
                    padding: 10px 20px;
                    color: #555;
                  }
                }
              }
              &.on {
                > button {
                  &:after {
                    top: 28px;
                    transform: rotate(-45deg);
                  }
                }
                > ul {
                  max-height: 400px;
                  padding-bottom: 10px;
                  transition: max-height 1s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  }
}


/* Footer */
footer {
  background-color: #000A30;
  .footer-inner {
    max-width: 1520px;
    margin: 0 auto;
    padding: 55px 20px 65px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px 0;
    .footer-area1 {
      max-width: 830px;
      display: flex;
      gap: 20px 82px;
      > div {
        > div {
          margin-bottom: 35px;
          &.factory {
            margin-bottom: 0;
          }
          > p {
            font-size: 14px;
            font-family: "Pretendard-SemiBold", sans-serif;
            opacity: 0.8;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            img {
              margin-right: 8px;
            }
          }
          > div {
            > p {
              font-size: 14px;
              font-family: "Pretendard-Regular", sans-serif;
              opacity: 0.8;
              margin-bottom: 12px;
              line-height: normal;
            }
            > ul {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              gap: 10px 40px;
              > li {
                font-family: "Pretendard-Regular", sans-serif;
                font-size: 14px;
                opacity: 0.8;
                span {
                  opacity: 0.4;
                  margin-right: 8px;
                }
              }
            }
          }
        }
      }
    }
    .footer-area2 {
      max-width: 491px;
      width: 100%;
      .news-letter {
        font-family: "Pretendard-SemiBold", sans-serif;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: normal;
      }
      > dl {
        margin-bottom: 40px;
        dt {
          font-size: 14px;
          opacity: 0.8;
          margin-bottom: 10px;
        }
        dd {
          display: flex;
          gap: 0 8px;
          input {
            font-size: 14px;
            border: 1px solid rgba(255, 255, 255, 0.50);
            box-sizing: border-box;
            padding: 11px 16px;
            max-width: 500px;
            width: 100%;
            background: none;
            color: #fff;
            font-family: "Pretendard-Regular", sans-serif;
            &::placeholder {
              color: #fff;
              opacity: 0.6;
            }
          }
          button {
            flex-shrink: 0;
            height: 42px;
            width: 112px;
            background-color: #115BE6;
            font-size: 16px;
            border: none;
            padding: 0;
            color: #fff;
            font-family: "Pretendard-SemiBold", sans-serif;
          }
        }
      }
      .links {
        display: flex;
        align-items: center;
        gap: 0 16px;
        > p {
          color: #fff;
          font-size: 14px;
          opacity: 0.8;
          text-decoration: underline;
          > a {
            color: #fff;
          }
        }
        > span {
          display: inline-block;
          width: 1px;
          height: 16px;
          background: #fff;
          opacity: 0.6;
        }
        > ul {
          display: flex;
          gap: 0 16px;
        }
      }
      /*.links {
        display: flex;
        gap: 10px 30px;
        flex-wrap: wrap;
        > dl {
          display: flex;
          gap: 0 30px;
          > dd {
            display: flex;
            flex-wrap: wrap;
            gap: 0 30px;
            a {
              color: #fff;
              &.sitemap {
                color: #FFFF0C;
              }
            }
          }
        }
      }*/
    }
  }
  .copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.30);
    > p {
      max-width: 1520px;
      margin: 0 auto;
      padding: 25px 20px;
      color: #8B949E;
      font-family: "Pretendard-Regular", sans-serif;
      font-size: 12px;
      line-height: 18px;
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    .header-inner {
      .main-menu {
        display: none;
      }
      > div {
        .mobile-menu {
          display: block;
        }
      }
    }
  }
}



@media screen and (max-width: 767px) {
  header {
    .header-inner {
      .main-menu {
        display: none;
        > h1 {
          width: 100%;
          height: 100%;
        }
      }
      > div {
        .mobile-menu {
          display: block;
        }
      }
    }
  }

  footer {
    .footer-inner {
      .footer-area1 {
        flex-wrap: wrap;
      }
      .footer-area2 {
        max-width: none;
        > dl {
          dd {
            gap: 0 10px;
            button {
              width: 130px;
            }
          }
        }
        .links {
          > dl {
            > dd {
              gap: 10px 30px;
            }
          }
          > span {
            display: none;
          }
        }
      }
    }
  }
}

/* Sub 공통 */
// Sub 상단 배너 공통 스타일
.sub-banner {
  box-sizing: border-box;
  padding: 0 20px;
  max-height: 1040px;
  aspect-ratio: 1920 / 1040;
  position: relative;
  display: flex;
  align-items: center;
  .banner-text {
    padding: 100px 0;
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
    .banner-text-title {
      color: #fff;
      font-size: 60px;
      line-height: 100%;
      font-family: "Pretendard-Bold", sans-serif;
      margin-bottom: 24px;
    }
    .banner-text-01 {
      font-family: "Montserrat-Light", "Pretendard-Regular", sans-serif;
      color: #fff;
      line-height: 150%;
    }
  }
  /*.banner-text {
    position: absolute;
    width: 100%;
    bottom: 135.5px;
    left: 50%;
    transform: translateX(-50%);
    > div {
      color: #fff;
      text-align: center;
      padding: 0 20px;
      !*max-width: 1402px;
      width: 100%;*!
      box-sizing: border-box;
      margin: 0 auto;
      .banner-text-title {
        font-size: 65px;
        font-weight: bold;
      }
      .banner-text-01 {
        margin-top: 50px;
        font-size: 30px;
      }
      .banner-text-02 {
        font-size: 30px;
      }
    }
  }*/
}

.sub-banner5 {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  max-height: 1040px;
  aspect-ratio: 1920 / 1040;
  position: relative;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
  }
  .banner-text {
    display: flex;
    color: #ffffff;
    font-size: 45px;
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
    font-weight: 600;
    justify-content: left;
    height: 100%;
    position: relative;
    > div {
      max-width: 775px;
      line-height: 54px;
    }
  }
}

//Sub 컨텐츠 영역 공통 스타일
.container {
  max-width: 1520px;
  padding: 130px 20px 0;
  margin: 0 auto;
  min-height: 300px;
}

.container2 {
  max-width: 1600px;
  width: 100%;
  padding: 118.5px 20px 0;
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 300px;
}

//타이틀 영역 Style1
.title-area1 {
  text-align: center;
  margin-bottom: 80px;
  h2 {
    position: relative;
    padding-top: 24px;
    text-align: center;
    font-weight: bold;
    border-radius: 16px;
    font-size: 44px;
    color: #110439;
    margin-bottom: 20px;
    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 45px;
      height: 4px;
      content: "";
      background-color: #115BE6;
    }
  }
  p {
    color: #666;
    text-align: center;
    font-family: "Pretendard-Medium", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 100%;
  }
}

/*.title-area2 {
  position: relative;
  text-align: center;
  margin-bottom: 150px;
  padding-top: 93px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 460px;
    width: 100%;
    height: 1px;
    background-color: #C5C2C2;
  }
  h2 {
    font-size: 65px;
    color: #DE0010;
    font-weight: bold;
    margin-bottom: 45px;
  }
  p {
    font-size: 50px;
    color: #194B7E;
    line-height: 41px;
    &.title-text2 {
      margin-top: 30px;
      font-size: 20px;
      line-height: 24px;
    }
    &.title-text3 {
      font-size: 20px;
      line-height: 24px;
    }
  }
}*/

.title-area3 {
  margin-top: 40px;
  > p {
    color: #041839;
    text-align: center;
    font-family: "Pretendard-Bold", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }
}

.image-area1 {
  position: relative;
  text-align: left;
  margin-bottom: 30px;
  padding-top: 35px;
  img {
    width: 100%;
    height: auto;
  }
}


// .section01-swiper {
//    margin-top: 0px;
//    padding-top: 0px;
//   .swiper-slide {
//     border-radius: 0px;
//     overflow: hidden;
//   }
//   .swiper {
//     padding-bottom: 0px;
//   }
//   .swiper-button-prev {
//     left: 50%;
//     transform: translateX(-80px);
//   }
//   .swiper-button-next {
//     right: 50%;
//     transform: translateX(80px);
//   }
//   .swiper-button-prev, .swiper-button-next {
//     top: auto !important;
//     bottom: 50% !important;
//     color: #ffffff;
//     width: 50px;
//     height: 50px;
//     border: 3px solid #ffffff;
//     border-radius: 50%;
//     &:after {
//       font-size: 23px;
//     }
//   }

// }
